<form action="/restaurant/add" method="post">
  <label for="restaurant-name">Restaurant Name</label>
  <input type="text" name="restaurant-name" id="restaurant-name">

  <label for="restaurant-description">Description</label>
  <input type="text" name="restaurant-description" id="restaurant-description">

  <label for="restaurant-address">Address</label>
  <input type="text" name="restaurant-address" id="restaurant-address">

  <label for="restaurant-phone">Phone Number</label>
  <input type="text" name="restaurant-phone" id="restaurant-phone">

  <label for="restaurant-email">Email</label>
  <input type="text" name="restaurant-email" id="restaurant-email">
  
  <select name="cuisines">
    @foreach (var cuis in Model)
    {
      <option value="@cuis.GetId()">@cuis.GetCuisineType()</option>
    }
  </select>
  <button type="submit" name="add-restaurant">Add Restaurant</button>
</form>
