<form action="/cuisine/add" method="post">
  <label for="cuisine-type">Cuisine Name</label>
  <input type="text" name="cuisine-type" id="cuisine-type" required>
  <button type="submit" name="button">Add Cuisine</button>
</form>
