<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Best Restaurants In Town</title>
  </head>
  <body>
<a href="/cuisine/add"><button type="button" name="button">Add Cuisine</button></a>
<a href="/restaurant/add"><button type="button" name="button">Add Restaurant</button></a>
<a href="/restaurant/all"><button type="button" name="button">View All Restaurants</button></a>
@if(Model.Count < 1)
{
  <p>No Cuisines or Restaurants Added Yet</p>
}
else{
  <ul>
    @foreach (var cuis in Model)
    {
      <li><a href="/cuisine/@cuis.GetId()">@cuis.GetCuisineType()</a></li>
    }
  </ul>
}
  </body>
</html>
